* {
  margin: 0;
  padding: 0;
}

.primeira-div {
  border: 2px solid purple;
  margin: 50px;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content:center;
  width: 90%;
  height: 70vh;
}

.texto a {
  border: 2px solid red;
}

.texto p {
  border: 2px solid red;
}


.imagem {
  border: 2px solid blue;
}