/* CSS MILENA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #ff914d;
  height: 80px;
  padding: 0 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  text-transform: lowercase;

}

.logo-header {
  height: 4rem;
}

.menu-principal a {
  color: white;
}

.menu-principal a:hover {
  color: black  ;
  font-weight: bolder;
}

li {
  list-style-type: none;
}

.menu-principal {
  width: 90%;
}

.menu-principal ul {
  display: flex;
  justify-content: space-around;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 5vh;
  background-color: #f6bb4c;
  border-radius: 1em;
}


.login:hover {
  border: 1px solid black;
  background-color: #f6bb4c;  
  color: black;
  font-weight: bolder;
}

section {
  height: 100vh;
}

.principal, .emprestimos {
  background-color: #f6bb4c;
}

.cartao, .seguros {
  background-color: white; 
}

footer {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #ff914d;
  height: 120px;
  padding: 0 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  text-transform: lowercase;

}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  /* width: 100%; */
}

.redes-sociais-icones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 60%;
  color: white;
}

.img-redes-sociais {
	display: inline;
	color: white;
	font-size: 30px;
}

.contato {
  display: flex;
}

.contato p {
  margin: 0 20px;
}

/* CSS RAFAEL */
/* escrever o código aqui */


/* CSS ALEXANDRE */
/* escrever o código aqui */