/* ------------- GERAL ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.container-texto {
  width: 50%;
  max-height: 90vh;
}

.texto-titulo {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  padding-bottom: 1rem;
}

.texto-corpo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding-bottom: 0.5rem;
}

.texto-box {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ce5b14
}

.texto-clique, .texto-clique a {
  font-weight: 900;
  color: black;
  color: #ce5b14;
}

/* ------------- HEADER ------------- */

.falso-header {
  height: 80px;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #ff914d;
  height: 80px;
  padding: 0 50px;
  font-weight: 900;
  font-size: 0.8rem;
  text-transform: lowercase;
}

.logo-header {
  height: 4rem;
}

.menu a {
  color: white;
}

.menu a:hover {
  color: black  ;
  font-weight: bolder;
}

.menu {
  width: 90%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 5vh;
  background-color: #f6bb4c;
  border-radius: 1em;
}

.login:hover {
  border: 1px solid black;
  background-color: #f6bb4c;  
  color: black;
  font-weight: bolder;
}

/* ------------- SECTION PRINCIPAL (CADASTRO) ------------- */

.principal {
  background-color: #f6bb4c;
}

.card-cadastro{
  display: flex;
  padding: 20px;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color:rgb(236, 210, 193);
  margin-top: 100px;
  margin-right: 5vw;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-radius: 30px;
  /* box-shadow: black 2px 2px 5px; */
  color: #cf6c2f;
  
}

.input-cpf{
  display: flex;
  text-align: center;
  background-color: #f2ead4;
  width: 15vw;
  height: 7vh;
  border-radius: 3.5vh;
  border: none;
}

.input-cpf:focus {
  outline: none;
}

.continuar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 7vh;
  background-color: #f6bb4c;
  border-radius: 4em;
  color: #ce5b14;
}

.continuar:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: #f6bb4c;  
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

/* ------------- SECTION CARTÃO ------------- */

.cartao{
  background-color: #FFB180;
}

.nome-cartao:hover {
  text-decoration: underline;
}

.container-imagem-cartao {
  width: 40%;
}

.imagem-cartao {
  width: 100%;
}

/* ------------- SECTION EMPRÉSTIMOS ------------- */

.emprestimos {
  background-color: #f6bb4c;
}

.emprestimos-img {
  width:40%;
}

.emprestimos-img img {
  width: 100%;
}

/* ------------- SECTION SEGUROS ------------- */

.seguros {
  justify-content: space-between;
  background-color:white;
  color: #ff624d;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.container-img {
  height: 100%;
}

.img-seguros {
  height: 100%;
}

.seguros a {
  color: #ff624d;
}

.container-texto-seguros {
  width: 60%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 1rem;
}

.texto-seguros {
  grid-column: 1/3;
  color: #ff624d;
  margin-left: 1rem;
}

.card-seguros {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  width: 80%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card-seguros h4 {
  padding-top: 10px;
  font-weight: 600;
}

.card-seguros p {
  padding-top: 10px;
}

.seguro-auto {
  grid-column: 1/2;
  grid-row: 2/3;
}

.seguro-vida {
  grid-column: 2/3;
  grid-row: 2/3;
}

.seguro-residencial {
  grid-column: 1/2;
  grid-row: 3/4;
}

.seguro-empresa {
  grid-column: 2/3;
  grid-row: 3/4;
}

.seguros-icones {
  font-size: 3rem;
}

/* ------------- FOOTER ------------- */

footer {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #ff914d;
  height: 120px;
  padding: 0 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  text-transform: lowercase;

}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  /* width: 100%; */
}

.redes-sociais-icones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 60%;
  color: white;
}

.img-redes-sociais {
	display: inline;
	color: white;
	font-size: 30px;
}

.contato {
  display: flex;
}

.contato p {
  margin: 0 20px;
}

/* RESPONSIVIDADE */

/* celulares */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {

  html {
    font-size: 10px;;
  }

  section {
    flex-direction: column;
  }

  img {
    max-width: 70vw;
  }

  .falso-header {
    display: none;
  }

  header {
    position:static;
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  .login {
    display: none;
  }

  nav {
    display: none;
  }

  .menu-itens {
    flex-direction: column;
  }

  .menu-itens li {
    padding: 1rem 0;
  }

  .texto-titulo {
    font-weight: 900;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
  
  .texto-corpo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding-bottom: 0.5rem;
  }
  
  .texto-box {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ce5b14
  }
  
  .texto-clique, .texto-clique a {
    font-weight: 900;
    color: black;
    color: #ce5b14;
  }

  footer {
    height: 100%;
    flex-direction: column;
  }

}

 /* tablets */
@media screen and (min-device-width: 481px) and (max-device-width: 800px) {

}