/* header {
  background-color: blue;
  height: 20px;
  filter: opacity(10%)
} 

laranja: #f6904c
amarelo: #f6bb4c
*/

* {
  margin: 0;
  padding: 0;
}

.redes-sociais {
  color: #f6904c;
}
section{
  display: flex;
  flex-direction: column;
}

.principal {
  height: 600px;
  background-color: #f6904c;
  opacity: 80%;
}

.cartao{
  height: 600px;
  background-color: #f6904c;
  opacity: 60%;
}

.texto {
  margin: 30px;
  width: 
}

.seguros{
  height: 600px;
  background-color: #f6904c;
  opacity: 30%;
}
.emprestimos{
  height: 600px;
  background-color: #f6904c;
  opacity: 90%;
}